/**
 * Created by Barbara Marsh on 11/04/2017.
 */
@import "var";

html{
  position: relative;
  min-height: 100%;
  body {
    padding-top: 70px;
    background-color: @pale-green;
    color: @dark-green;
    .centered {
      text-align: center;
    }

    .navbar {
      background-color: @mid-green;
      color: @dark-green;
      #navbar {
        .navbar-nav {
          li {
            a {
              color: @dark-green;
            }
          }
          .active {
            a {
              background-color: @light-green;
            }
          }
          .open>a {
            background-color: @light-green;
          }
        }
      }
      .navbar-brand {
        color: @dark-green;
      }
    }

    .container {

    }

    /* Sticky Footer styling */
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: @mid-green;
      .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
      }
      .container .text-muted {
        margin: 20px 0;
        color: @dark-green;
        a {
          color: @dark-green;
        }
        a:hover {
          color: @light-green;
        }
      }
    }
  }
}


