/**
 * Created by Barbara Marsh on 11/04/2017.
 */
/* theme colours */
html {
  position: relative;
  min-height: 100%;
}
html body {
  padding-top: 70px;
  background-color: #e6fffa;
  color: #004d3d;
  /* Sticky Footer styling */
}
html body .centered {
  text-align: center;
}
html body .navbar {
  background-color: #00e6b8;
  color: #004d3d;
}
html body .navbar #navbar .navbar-nav li a {
  color: #004d3d;
}
html body .navbar #navbar .navbar-nav .active a {
  background-color: #b3fff0;
}
html body .navbar #navbar .navbar-nav .open > a {
  background-color: #b3fff0;
}
html body .navbar .navbar-brand {
  color: #004d3d;
}
html body .container .link-image {
  margin: 0 0 10px 0;
  width: 100%;
}
html body .container .main {
  margin: 10px 0 0 0;
}
html body .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #00e6b8;
}
html body .footer .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
html body .footer .container .text-muted {
  margin: 20px 0;
  color: #004d3d;
}
html body .footer .container .text-muted a {
  color: #004d3d;
}
html body .footer .container .text-muted a:hover {
  color: #b3fff0;
}
