<div class="intro">
    <div class="row">
        <div class="col-md-12">
            <h1 class="centered">About Me</h1>
        </div>
    </div>
</div>
<div class="main">
    <div class="row">
        <div class="col col-md-5">
            <p class="text-justify">Hi. My name is Barbara Marsh. Let me tell you a bit about myself.</p>
            <p class="text-justify">I am currently studying for a degree in Information Technology, with my major in
                Web and App Development and minor in IT Business Management, at Victoria University in Melbourne,
                Australia. When I'm not studying, I spend a lot of my time experimenting with other web technologies
                not covered in my degree.</p>
            <p class="text-justify">I have a particular interest in the Laravel PHP framework. I am currently
                working towards gaining certification.</p>
            <p class="text-justify">Before undertaking my degree, I gained the following certifications:</p>
            <ul>
                <li>Certificate VI in Information Technology</li>
                <li>Diploma of Website Development</li>
            </ul>
            <p class="text-justify">Both of these were awarded by Victoria University. For the Diploma of Website
                Development, I received an Outstanding Student award for being the top student in my year.</p>
            <p class="text-justify">I have recently won a Summer Research Scholarship from Victoria University, and
                will be spending the three months of summer 2017/18 working at the university on a research
                project.</p>
        </div>
        <div class="col col-md-5">
            <p class="text-justify">I am interested in part-time or freelance work.</p>
            <p class="text-justify">You can contact me on <a href="mailto:barbara@bjmarsh.me">barbara@bjmarsh.me</a>,
                or send me a message on LinkedIn.</p>
        </div>
        <div class="col col-md-2">
            <p class="text-right"><a href="https://www.linkedin.com/in/barbaramarsh1/" target="_blank">
                LinkedIn profile <img src="assets/images/icons8-linkedin.png">
            </a></p>
            <p class="text-right"><a href="https://github.com/Barbara-Marsh" target="_blank">
                GitHub profile <img src="assets/images/icons8-github.png">
            </a></p>
            <!--<p class="text-right"><a href="https://glitch.com/@Barbara-Marsh" target="_blank">
                Glitch profile <img src="assets/images/glitch-logo.svg" width="50">
            </a></p>-->
        </div>
    </div>
</div>
