<div class="fb-chatbots">
    <div class="row">
        <div class="col-md-12">
            <h2>Facebook Chatbots</h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
            <a href="https://barbs-bots.herokuapp.com/facebook/twitter/" target="_blank" class="text-center">
                <h3>Barb's Twitter Trending Chatbot</h3>
                <img src="assets/images/barb-twitter-trending-chatbot.png"
                     alt="link to barb's twitter trending chatbot on facebook" class="link-image">
            </a>
            <p class="text-justify">This chatbot tells you the top 10 trends on Twitter for a location you enter.</p>
        </div>
        <div class="col col-md-4">
            <a href="https://barbs-bots.herokuapp.com/facebook/vline/" target="_blank" class="text-center">
                <h3>Barb's Twitter Trending Chatbot</h3>
                <img src="assets/images/train-icon.jpg"
                     alt="link to V/line next five departures chatbot on facebook" class="link-image">
            </a>
            <p class="text-justify">This chatbot tells you the next five trains to depart from a V/Line station.</p>
        </div>
        <div class="col col-md-4">

        </div>
    </div>
</div>
